@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}

.skelton-manual{
  animation: skelton-animation 1s linear infinite alternate;
  opacity: 7;
}
div::-webkit-scrollbar{
  display: none;
}
@keyframes skelton-animation{
  0%{
    background:  hsl(200, 20%, 70%);
  }
  100%{
    background: hsl(200, 20%, 95%);
  }
} 